# base
SUBNET=172.16.0.0/16
IP_RANGE=172.16.0.0/24
GATEWAY_IP=172.16.0.1

# delugevpn
VPN_USER=[YOUR_VPN_USERNAME]
VPN_PASS=[YOUR_VPN_PASSWORD]

# nzbgetvpn
NZBGET_WEBUI_USERNAME=[YOUR_NZBGET_USERNAME]
NZBGET_WEBUI_PASSWORD=[YOUR_NZBGET_PASSWORD]

# plex
PLEX_CLAIM=[YOUR_PLEX_CLAIM_CODE]

# tailscale
TS_AUTH_KEY=[YOUR_TAILSCALE_AUTHKEY]

# transmission-openvpn
OPENVPN_CONFIG=[COMMA_SEPARATED_LIST_OF_OVPN_FILES_FOR_EXAMPLE: us_california,us_east,ca_vancouver]

# unpacker
UN_LIDARR_0_API_KEY=[YOUR_LIDARR_APIKEY]
UN_RADARR_0_API_KEY=[YOUR_RADARR_APIKEY]
UN_READARR_0_API_KEY=[YOUR_READARR_APIKEY]
UN_SONARR_0_API_KEY=[YOUR_SONARR_APIKEY]

# watchtower
WATCHTOWER_NOTIFICATION_URL=[YOUR_WATCHTOWER_WEBHOOK_URL_IF_YOU_HAVE_ONE]
