# base
CONFIG_BASE_DIR=/volume1/docker
CONFIG_DATA_DIR=/volume1/data
DATA_DIR_COMPLETE_LOCAL=/volume1/data/complete
DATA_DIR_COMPLETE_RELATIVE=/complete
DATA_DIR_INCOMPLETE_LOCAL=/volume1/data/incomplete
DATA_DIR_INCOMPLETE_RELATIVE=/incomplete
DATA_DIR_WATCH_LOCAL=/volume1/data/watch
DATA_DIR_WATCH_RELATIVE=/watch
BOOKS_DIR_LOCAL=/volume1/books
BOOKS_DIR_RELATIVE=/books
MOVIES_DIR_LOCAL=/volume1/movies
MOVIES_DIR_RELATIVE=/movies
MUSIC_DIR_LOCAL=/volume1/music
MUSIC_DIR_RELATIVE=/music
TV_DIR_LOCAL=/volume1/tv
TV_DIR_RELATIVE=/tv
SUBNET=172.16.0.0/16
IP_RANGE=172.16.0.0/24
GATEWAY_IP=172.16.0.1
PUID=1001
PGID=100
TZ=America/Chicago
UMASK=002

# delugevpn/nzbgetvpn
ADDITIONAL_PORTS=1234
DEBUG=true
DELUGE_WEB_LOG_LEVEL=info
DELUGE_DAEMON_LOG_LEVEL=info
ENABLE_PRIVOXY=yes
STRICT_PORT_FORWARD=yes
VPN_PROV=pia
VPN_ENABLED=yes
VPN_CLIENT=openvpn
DELUGE_ENABLE_WEBUI_PASSWORD=yes
VPN_OPTIONS=

# vpn
HEALTH_CHECK_HOST=google.com
LAN_NETWORK=[YOUR_LOCAL_LAN_NETWORK]
NAME_SERVERS=[YOUR_NAME_SERVERS]
OPENVPN_CONFIG=us_california,us_west,us_east
OPENVPN_OPTS=
OPENVPN_PROVIDER=PIA
VPN_PASS=[YOUR_VPN_PASSWORD]
VPN_USER=[YOUR_VPN_USERNAME]
SERVER_REGIONS=Switzerland,Estonia,Iceland,Panama,Romania
PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=on

# nzbget
NZBGET_WEBUI_USERNAME=[YOUR_NZBGET_USERNAME]
NZBGET_WEBUI_PASSWORD=[YOUR_NZBGET_PASSWORD]

# plex
PLEX_CLAIM=claim-[YOUR_PLEX_CLAIM_CODE]

# tailscale
TAILSCALE_HOSTNAME=[YOUR_TAILSCALE_HOSTNAME]
TAILSCALE_STATE_ARG="mem:"
TS_AUTH_KEY=tskey-auth-[YOUR_TAILSCALE_AUTHKEY]
TS_SOCKET=/tmp/tailscaled.sock
TS_STATE_DIR=/var/lib/tailscale
TS_EXTRA_ARGS="--accept-dns=false --advertise-exit-node --advertise-tags=tag:exit-node"

# transmission-openvpn
OPENVPN_CONFIG=[COMMA_SEPARATED_LIST_OF_PREFIX_FOR_OVPN_FILES e.g. us_california,us_east,ca_vancouver,mexico]

# unpacker
UN_LIDARR_0_API_KEY=[YOUR_LIDARR_APIKEY]
UN_RADARR_0_API_KEY=[YOUR_RADARR_APIKEY]
UN_READARR_0_API_KEY=[YOUR_READARR_APIKEY]
UN_SONARR_0_API_KEY=[YOUR_SONARR_APIKEY]

# watchtower
WATCHTOWER_NOTIFICATION_URL=https://[YOUR_WATCHTOWER_WEBHOOK_URL_IF_YOU_HAVE_ONE]
