# base
BOOKS_DIR_LOCAL=/volume1/books
BOOKS_DIR_RELATIVE=/books
COMICS_DIR_LOCAL=/volume1/Comics
COMICS_DIR_RELATIVE=/comics
CONFIG_BASE_DIR=/volume1/docker
CONFIG_DATA_DIR=/volume1/data
DATA_DIR_COMPLETE_LOCAL=/volume1/data/complete
DATA_DIR_COMPLETE_RELATIVE=/complete
DATA_DIR_INCOMPLETE_LOCAL=/volume1/data/incomplete
DATA_DIR_INCOMPLETE_RELATIVE=/incomplete
DATA_DIR_WATCH_LOCAL=/volume1/data/watch
DATA_DIR_WATCH_RELATIVE=/watch
GATEWAY_IP=172.16.0.1
IP_RANGE=172.16.0.0/24
MOVIES_DIR_LOCAL=/volume1/movies
MOVIES_DIR_RELATIVE=/movies
MUSIC_DIR_LOCAL=/volume1/music
MUSIC_DIR_RELATIVE=/music
PERSONAL_DIR_LOCAL=/volume1/data/personal/videos
PERSONAL_DIR_RELATIVE=/personal
PGID=100
PUID=1001
SUBNET=172.16.0.0/16
TV_DIR_LOCAL=/volume1/tv
TV_DIR_RELATIVE=/tv
TZ=America/Chicago
UMASK=002

# (VPN) delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission/transmission-openvpn
# delugevpn/nzbgetvpn/sabnzbdvpn
ADDITIONAL_PORTS=1234
# delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission/transmission-openvpn
DEBUG=true
# delugevpn/nzbgetvpn/sabnzbdvpn
ENABLE_PRIVOXY=yes
HEALTH_CHECK_HOST=google.com # transmission-openvpn
# delugevpn/nzbgetvpn/sabnzbdvpn
LAN_NETWORK=[YOUR_LOCAL_LAN_NETWORK]
# delugevpn/nzbgetvpn/sabnzbdvpn
NAME_SERVERS=[YOUR_NAME_SERVERS]
# transmission/transmission-openvpn
OPENVPN_CONFIG=us_california,us_west,us_east
# transmission-openvpn
OPENVPN_OPTS=
# transmission-openvpn
OPENVPN_PROVIDER=PIA
# transmission-openvpn
PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=on
# gluetun
SERVER_COUNTRY=Switzerland,Estonia,Iceland,Romania
# delugevpn/nzbgetvpn/sabnzbdvpn
STRICT_PORT_FORWARD=yes
# delugevpn/nzbgetvpn/sabnzbdvpn
VPN_CLIENT=openvpn
# delugevpn/nzbgetvpn/sabnzbdvpn
VPN_ENABLED=yes
# delugevpn/nzbgetvpn/sabnzbdvpn
VPN_OPTIONS=
VPN_PASS=[YOUR_VPN_PASSWORD] # delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission-openvpn
# delugevpn/nzbgetvpn/sabnzbdvpn
VPN_PROV=pia
# gluetun
VPN_SERVICE_PROVIDER=nordvpn
# delugevpn/gluetun/nzbgetvpn/sabnzbdvpn/transmission-openvpn
VPN_USER=[YOUR_VPN_USERNAME]
# gluetun
WIREGUARD_PRIVATE_KEY=[YOUR_WIREGUARD_PRIVATE_KEY]

# deluge/delugevpn
DELUGE_DAEMON_LOG_LEVEL=info
DELUGE_ENABLE_WEBUI_PASSWORD=yes
DELUGE_WEB_LOG_LEVEL=info

# homeassistant
HOMEASSISTANT_PGID=1000
HOMEASSISTANT_PUID=1000
HOMEASSISTANT_CONFIG_BASE_DIR=/volume1/homeassistant-docker
HOMEASSISTANT_DATA_DIR_1_LOCAL=/tmp
HOMEASSISTANT_DATA_DIR_2_LOCAL=/etc
HOMEASSISTANT_DATA_DIR_3_LOCAL=/mnt
HOMEASSISTANT_DATA_DIR_1_RELATIVE=/foo_tmp
HOMEASSISTANT_DATA_DIR_2_RELATIVE=/foo_etc
HOMEASSISTANT_DATA_DIR_3_RELATIVE=/foo_mnt

# kometa
KOMETA_PLEX_TOKEN=[YOUR_PLEX_CLAIM_CODE_WITHOUT_claim-]
KOMETA_PLEX_URL=[http(s)://YOUR_PLEX_URL:32000_or_XXXXX]

# nzbget
NZBGET_WEBUI_PASSWORD=[YOUR_NZBGET_PASSWORD]
NZBGET_WEBUI_USERNAME=[YOUR_NZBGET_USERNAME]

# plex
PLEX_CLAIM=claim-[YOUR_PLEX_CLAIM_CODE]

# rana
RANA_ARGUMENTS="-n=j0hnwyles,j0hnwyl3s -c 4" # Example prefix sub-strings to find

# syncthing
SYNCTHING_MOUNT_DIR_1_LOCAL=/volume1/sync
SYNCTHING_MOUNT_DIR_1_RELATIVE=/sync
SYNCTHING_MOUNT_DIR_2_LOCAL=/volume1/some_other_directory
SYNCTHING_MOUNT_DIR_2_RELATIVE=/some_other_directory

# tailscale
TAILSCALE_HOSTNAME=[YOUR_TAILSCALE_HOSTNAME]
TAILSCALE_STATE_ARG="mem:"
TS_ACCEPT_DNS=true
TS_AUTHKEY=[YOUR_TAILSCALE_AUTHKEY]
TS_DEST_IP=
TS_EXTRA_ARGS=--reset --advertise-exit-node --ssh
TS_KUBE_SECRET=
TS_OUTBOUND_HTTP_PROXY_LISTEN=
TS_ROUTES=
TS_SOCKET=/tmp/tailscaled.sock
TS_SOCKS5_SERVER=
TS_STATE_DIR=/var/lib/tailscale
TS_TAILSCALED_EXTRA_ARGS=
TS_USERSPACE=

# transmission/transmission-openvpn
TRANSMISSION_USER=admin
TRANSMISSION_PASS=admin
# OPENVPN_CONFIG=[COMMA_SEPARATED_LIST_OF_PREFIX_FOR_OVPN_FILES e.g. us_california,us_east,ca_vancouver,mexico]
# OPENVPN_OPTS=

# unpacker
UN_LIDARR_0_API_KEY=[YOUR_LIDARR_APIKEY]
UN_RADARR_0_API_KEY=[YOUR_RADARR_APIKEY]
UN_READARR_0_API_KEY=[YOUR_READARR_APIKEY]
UN_SONARR_0_API_KEY=[YOUR_SONARR_APIKEY]

# vanity-age
VANITY_AGE_ARGUMENTS="\d+j0hn\d?wyles.*" # Example RegEx

# watchtower
WATCHTOWER_NOTIFICATION_URL=[http(s)://YOUR_WATCHTOWER_WEBHOOK_URL_IF_YOU_HAVE_ONE]
WATCHTOWER_POLL_INTERVAL=21600
